@model IEnumerable<WikiGame_SP.Models.ProfilePointsModel>
    @{
        ViewBag.Title = "Profile";
    }

    <div class="container">
        <div class="page-header">
            <h1>Profile</h1>
        </div>
        @{
            if(ViewBag.medal != null){
                 <h3>Your medals: </h3>  <img src="@Url.Content("~/Content/images/"+ViewBag.medal+"medal.png")" height="18" /> 
             }
        }
        <div id="Games">
            <div class="col-md-7">
                <table class="table table-condensed">
                    <caption>Your Games</caption>
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Clicks</th>
                        </tr>
                    </thead>
                    @{int index = 0;}
                    @foreach (var point in Model)
                    {
                        index++;
                        <tr>
                            <th scope="row">@index</th>
                            <td>@point.points</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>
