@{
    Layout = null;
}

@Html.CSS("wiki-styles.css")
<div id="won">
    @if (ViewBag.hasWon)
    {
        <text>You Won!!!!</text>
        <text>Your rank is @ViewBag.position</text>
        
    }
</div>
<div id="wiki_page">
    @ViewBag.wiki_page
</div>
