@{
    ViewBag.Title = "Home Page";
}

<h2>Wiki Game</h2>
<p> 
    @{
        if (ViewBag.loggedIn)
        {
            ViewBag.links = Html.ActionLink("Log out", "LogOff", "Account");
        }
        else{
            ViewBag.links = Html.ActionLink("Log in", "LogOn", "Account");
        }    
    }
    @ViewBag.links</p>
@using (Html.BeginForm("Index", "GameWindow"))
{ 
    
    @Html.DropDownList("CategoryID", (IEnumerable<SelectListItem>)ViewBag.Categories)  
    
    <input type="submit" value="PLAY" />
}